.filters {
    background: #fff;
    height: 70px;
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.filters button {
    background: #ff5a5f;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 30px;
}

.filters button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
    position: relative;
}

.filters div h3 {
    font-weight: 600;
    margin-bottom: 3px;
}

.filters div h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.locations {
    border-right: solid 1px #dddddd;
}

.popover {
    background: #fafafa;
    position: absolute;
    left: 0;
    top: 70px;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: none;
    z-index: 2;
}

.popover::-webkit-scrollbar {
    width: 0px;
}

.popover ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 30px;
}

.popover ul li {
    margin-bottom: 5px;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
    margin-left: 30px;
}

.amenities .popover {
    padding-bottom: 0;
    padding-top: 25px;
}

.locations:hover > .popover {
    display: block;
    animation: drop_menu2 0.5s;
}

.amenities:hover > .popover {
    display: block;
    animation: drop_menu2 0.5s;
}

@keyframes drop_menu2 {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
