<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB Clone</title>
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
</head>
<body>
    <header>
        <div class="div_logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <button>Search</button>
            <div class="locations">
                <h3>States</h3>
                &nbsp;
                <div class="popover">
                    {% for state in states | sort(attribute="name") %}
                    <H2>{{state.name}}</H2>
                    <UL>
                    {% for city in cities | sort(attribute="name") %}
                        {% if city.state_id == state.id %}
                        <LI>{{city.name}}</LI>
                        {% endif %}
                    {% endfor %}
                    </UL>
                    {% endfor %}
                </div>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                &nbsp;
                <div class="popover">
                    <ul>
                        {% for amenity in amenitys | sort(attribute="name") %}
                        <li>{{amenity.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <footer>
        Holberton School
    </footer>
</body>
</html>
